
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');  
@import './color.css';
body, h1, h2,h3, h4, h5,h6, p{

    margin: 0;
    padding: 0;
    font-family: 'Mukta:wght@200;300;400;500;600;700;800';

}

body{
    background-color: var(--light-Browm)
}

nav{
background-color: #023e8a;
}